.worksWrapper {
  padding: 5% 10%;
  background-color: #efefef;
  min-height: 100vh;
}

.worksWrapper h2 {
  color: black;
}

.worksWrapper .back-arrow {
  color: black;
  position: fixed;
  top: 3%;
  right: 5%;
}

.tileGrid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}

.tile-wrapper {
  margin-bottom: 2%;
}

.tile-wrapper img {
  max-width: 300px;
  height: auto;
  transition: transform 0.3s ease;
}

.tile-wrapper img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .tile-wrapper img {
    max-width: 100%;
  }
}
