.texts-wrapper {
  padding: 5% 10%;
  background-color: #efefef;
  min-height: 100vh;
}

.texts-wrapper h2 {
  color: black;
}

.texts-wrapper .back-arrow {
  color: black;
}

.texts-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.texts-links a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.texts-links a:hover {
  opacity: 0.7;
}

.texts-links a span {
  font-weight: 200;
  font-size: 1rem;
}
