.imprint-wrapper {
  padding: 5% 10%;
  background-color: #efefef;
  min-height: 100vh;
  color: black;
}

.imprint-wrapper h2 {
  color: black;
}

.imprint-wrapper .back-arrow {
  color: black;
}

.imprint-wrapper p {
  margin-bottom: 1rem;
}

.imprint-wrapper .fine-print {
  font-size: 0.8rem;
  margin-top: 2rem;
  line-height: 1.6;
}

.imprint-angerer {
  margin-top: 3rem;
}

.imprint-angerer .angerer {
  font-weight: bold;
  margin-bottom: 1rem;
}

.imprint-angerer ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.imprint-angerer ul li {
  list-style: disc;
  margin-left: 1rem;
}

.imprint-contact {
  margin-top: 3rem;
}

.imprint-contact h3 {
  color: black;
}

.imprint-contact a {
  display: block;
  color: black;
  margin-bottom: 0.5rem;
}

.imprint-contact a:hover {
  opacity: 0.7;
}
