.home {
  height: 100vh;
  background-color: #efefef;
}

.homeWrapper {
  position: relative;
  background-color: #efefef;
}

.homeWrapper img {
  width: 100%;
  height: auto;
}

.homeWrapper a {
  color: white;
  padding: 0.5rem;
  z-index: 10;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.homeWrapper a:hover {
  color: black;
  transform: scale(1.3);
}

.homeWrapper h1 {
  font-size: 3.3rem;
  font-weight: normal;
  position: absolute;
  top: 9%;
  left: 10%;
  color: black;
  z-index: 100;
}

.about {
  position: absolute;
  top: 32.3%;
  left: 70.8%;
}

.contact {
  position: absolute;
  top: 61.5%;
  left: 70%;
}

.texts {
  position: absolute;
  top: 30.1%;
  left: 43.4%;
}

.views {
  position: absolute;
  top: 47%;
  left: 56%;
}

.works {
  position: absolute;
  top: 35.5%;
  left: 24.2%;
}

.music {
  position: absolute;
  top: 57.5%;
  left: 23.5%;
}

.imprint {
  position: absolute;
  top: 63.3%;
  left: 41.5%;
}

/* Responsive Styles */
@media (min-width: 1200px) and (max-width: 1920px) {
  .about {
    top: 32.5%;
    left: 71%;
  }
  .contact {
    top: 61.5%;
    left: 70%;
  }
  .texts {
    top: 30.3%;
    left: 43.5%;
  }
  .views {
    top: 47%;
    left: 56.2%;
  }
  .works {
    top: 35.5%;
    left: 24.3%;
  }
  .music {
    top: 57.5%;
    left: 23.7%;
  }
  .imprint {
    top: 63.5%;
    left: 42%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .home {
    padding-top: 7vh;
  }
  .homeWrapper a {
    font-size: 0.9rem;
  }
  .homeWrapper h1 {
    font-size: 3rem;
    top: 0%;
  }
  .about {
    top: 32%;
    left: 70.5%;
  }
  .contact {
    top: 61.2%;
    left: 69.5%;
  }
  .texts {
    top: 29.6%;
    left: 43%;
  }
  .views {
    top: 46.5%;
    left: 55.8%;
  }
  .works {
    top: 35.2%;
    left: 24%;
  }
  .music {
    top: 57.2%;
    left: 23.5%;
  }
  .imprint {
    top: 62.8%;
    left: 41%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .home {
    padding-top: 7vh;
  }
  .homeWrapper a {
    font-size: 0.8rem;
  }
  .homeWrapper h1 {
    font-size: 2.9rem;
    top: 0%;
  }
  .about {
    top: 31.8%;
    left: 70.3%;
  }
  .contact {
    top: 60.5%;
    left: 69.1%;
  }
  .texts {
    top: 29.3%;
    left: 42.8%;
  }
  .views {
    top: 46.1%;
    left: 55.2%;
  }
  .works {
    top: 34.8%;
    left: 23.5%;
  }
  .music {
    top: 56.8%;
    left: 22.6%;
  }
  .imprint {
    top: 62.3%;
    left: 40.4%;
  }
}

@media (min-width: 441px) and (max-width: 768px) {
  .home {
    padding-top: 6vh;
  }
  .homeWrapper a {
    font-size: 0.6rem;
  }
  .homeWrapper h1 {
    font-size: 2.2rem;
    top: 0%;
  }
  .about {
    top: 31%;
    left: 69.6%;
  }
  .contact {
    top: 60%;
    left: 68.5%;
  }
  .texts {
    top: 28.7%;
    left: 42.2%;
  }
  .views {
    top: 45.3%;
    left: 54.7%;
  }
  .works {
    top: 34%;
    left: 22.8%;
  }
  .music {
    top: 56%;
    left: 22%;
  }
  .imprint {
    top: 61.3%;
    left: 39%;
  }
}

@media (min-width: 120px) and (max-width: 440px) {
  .home {
    padding-top: 15vh;
  }
  .homeWrapper h1 {
    font-size: 1rem;
    top: 0%;
  }
  .homeWrapper a {
    font-size: 0.6rem;
  }
  .about {
    top: 28.5%;
    left: 67.2%;
  }
  .contact {
    top: 57.5%;
    left: 65.5%;
  }
  .texts {
    top: 26.3%;
    left: 40%;
  }
  .views {
    top: 42.7%;
    left: 52%;
  }
  .works {
    top: 31%;
    left: 20.3%;
  }
  .music {
    top: 54%;
    left: 18.5%;
  }
  .imprint {
    top: 60%;
    left: 36%;
  }
}
