/* Global Styles */
img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  padding-bottom: 10vh;
  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  padding-bottom: 5vh;
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  padding-top: 5vh;
  font-weight: normal;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.copyright {
  margin-top: 5vh;
  font-style: italic;
  font-weight: 700;
}

/* Back Arrow */
.back-arrow {
  position: fixed;
  top: 3%;
  right: 5%;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  z-index: 100;
}

.back-arrow:hover {
  opacity: 0.7;
}
